{% extends 'base.html' %}
{% block content %}   
<h1 class="mt-5 pt-4 text-center">お問い合わせ</h1>
<form action="{% url 'blog_app:contact' %}" method="POST">
  {% csrf_token %}
  <label for="id_subject" class="sr-only">お名前</label>
  <input class="form-control mb-3" name="subject" maxlength="50" required="" id="id_subject" type="text" placeholder="お名前">

  <label for="id_sender" class="sr-only">メールアドレス</label>
  <input type="email" name="sender" required="" id="id_sender" placeholder="メールアドレス" class="form-control mb-3">

  <label for="id_message" class="sr-only">メッセージ:</label>
  <textarea name="message" cols="40" rows="10" required="" id="id_message" placeholder="メッセージ" class="form-control mb-3"></textarea>

  <label for="id_myself" class="text-secondary pr-3 mb-3">確認内容を受け取る:</label>
  <input class="form-check-input" type="checkbox" name="myself" id="id_myself">

<button type="submit" class="btn btn-block btn-outline-success">送信する</button>
</form>

{% endblock %}
