{% extends 'base.html' %}
{% block content %}   
<!-- Page Header -->
  <header class="masthead" style="background-image: url('/media/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>お問い合わせ</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="{% url 'blog_app:contact' %}" method="POST" id="contactForm" novalidate>
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="id_name">お名前</label>
              <input type="text" name="name" maxlength="50" class="form-control" placeholder="お名前" id="name" required data-validation-required-message="名前を入力してください">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="id_email">メールアドレス</label>
              <input type="email" name="email" class="form-control" placeholder="メールアドレス" id="id_email" required data-validation-required-message="メールアドレスを入力してください">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="id_message">内容</label>
              <textarea name="message" cols="40" rows="6" id="id_message" class="form-control" placeholder="内容" required data-validation-required-message="メッセージを入力してください"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" name="myself" id="id_myself">
            <label class="form-check-label text-secondary" for="id_myself">
              内容を受け取る
            </label>
          </div>
         
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>



<!-- <div class="container">
<h1 class="mt-5 pt-4 text-center">お問い合わせ</h1>
<form action="{% url 'blog_app:contact' %}" method="POST">
  {% csrf_token %}
  <label for="id_name" class="sr-only">お名前</label>
  <input class="form-control mb-3" name="name" maxlength="50" required="" id="id_name" type="text" placeholder="お名前">

  <label for="id_email" class="sr-only">メールアドレス</label>
  <input type="email" name="email" required="" id="id_email" placeholder="メールアドレス" class="form-control mb-3">

  <label for="id_message" class="sr-only">メッセージ:</label>
  <textarea name="message" cols="40" rows="10" required="" id="id_message" placeholder="メッセージ" class="form-control mb-3"></textarea>

  <label for="id_myself" class="text-secondary pr-3 mb-3">内容を受け取る:</label>
  <input class="form-check-input" type="checkbox" name="myself" id="id_myself">

<button type="submit" class="btn btn-block btn-outline-success">送信する</button>
</form>
</div> -->
{% endblock %}
