html {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}

.same-top{
  margin-top: 80px!important;
}

footer{
  width: 100%;
  background-color: #f3f3f3;
  color: gray;
  padding: 17px 0;
  position: absolute;
  bottom: 0;
}

/* detail.html */
.like-red{
  color: red;
}


button:focus {
	outline:0;
}

/* base.html */
.space{
  margin: 150px 0!important;
}
